/*
Alexandria Tran Le
Jason Edward Springer
Maxim Tiourin
Gordon Zhang
*/

.credentials {
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.success {
    color: #5cbd66;
}

.error {
    color: #ff0000;
}

.center {
    margin: auto;
    width: 50%;
}

.submitform {
    padding: 10px;
    border-style: solid;
    border-color: #0099cc;
}

.playvideo {
    padding: 10px;
    border-style: solid;
    border-color: #0099cc;
}

.videothumbnail {
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    padding: 5px;
    width: 160px;
    margin: auto;
    font-weight: bold;
    font-size: 14px;
}

.videothumbnailContainer {
    display: block;
    text-align: center;
}

.videotitle {
    font-weight: bold;
    font-size: 24px;
}

html {
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, grey); /* Standard syntax */
}
label {
    display: block;
    color: #fff;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

body {
    /*padding-top: 5%;*/
    height: 100%;
    margin: auto;
    margin-left: 15;
    padding: 0;
    position: relative;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

a.minibutton {
    color: #afa7d1;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

a.minibutton:hover {
    color: #0099cc;
}

button.bigbutton {
    background-color: #0099cc; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 20px 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button.bigbuttontab {
    background-color: #77b8ce; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 20px 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button.smallbutton {
    background-color: #0099cc; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 4px 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


button span:after {
  content: '\»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

footer {
  background-color: #808080;
  padding:  15px 32px;
  text-align: center;
  font-family: "Andale Mono", AndaleMono, monospace;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  margin-bottom: 0px;
  padding: 1rem;
}

header{
  font-size: x-large;
  color: #fff;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
