body {
    padding-top: 5%;
}

.credentials {
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.success {
    color: #5cbd66;
}

.error {
    color: #ff0000;
}

